{% extends 'wrapper.html' %} {% load static %} {% load widget_tweaks %} {% block wrapper %} {% include 'nav.html' %}

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-2 col-md-4 col-xl-3 px-sm-2 px-0 text-dark">{% include 'accounts/sidebar.html' %}</div>
    <div class="col-12 col-sm-10 col-md-8 col-xl-9 text-dark">
    <div class="container py-3 d-flex justify-content-center align-items-middle">
      <div class="card">
        <div class="card-header"><i>Email:</i> <strong>{{user.username}}</strong></div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %} {% for error in form.non_field_errors %}
            <div class="alert alert-danger">{{error}}</div>
            {% endfor %} {{form.errors}} {{form.old_password.label}}: {% render_field form.old_password placeholder="Old Password" class="form-control d-inline-block"%}
            <br /><br />
            {{form.new_password1.label}}:{% render_field form.new_password1 placeholder="New Password" class="form-control d-inline-block"%}
            <br /><br />
            {{form.new_password2.label}}:{% render_field form.new_password2 placeholder="Confirm New Password" class="form-control d-inline-block"%}
            <div class="d-flex justify-content-end mt-3">
              <a href="{% url 'courses:courses' %}" class="btn btn-dark me-3">Later</a>
              <input type="submit" value="Change Password" class="btn btn-info me-2" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
{% endblock wrapper %}
