{% extends 'wrapper.html' %} {% load static %} 
{% load widget_tweaks %}
{% block wrapper %} {% include 'nav.html' %}

<div class="container-fluid">
  <div class="row">
    
    <div class="col-12 col-sm-2 col-md-4 col-xl-3 px-sm-2 px-0 text-dark">
      {% include 'accounts/sidebar.html' %}
    </div>

    <div class="col-12 col-sm-10 col-md-8 col-xl-9 text-dark">
    <div class="container py-3 d-flex justify-content-center align-items-middle">

      <div class="card" style="width:50vw;">
                <div class="card-header">
                    <i>Email:</i> <strong>{{user.username}}</strong>
                </div>
                <div class="card-body">
                    <div class="mt-5">
                        <div class="alert alert-success">
                            Password Changed Successfully
                        </div>
                    </div>

                </div>
            </div>
        </div>
     
    </div>
  </div>
  {% endblock wrapper %}
</div>