{% extends 'wrapper.html' %} {% load static %} {% block wrapper %} {% load widget_tweaks %} {% include 'nav.html' %}

<div class="container">
    <div class="row d-flex justify-content-center align-items-center" style="min-height:80vh;">
        <div class="col-lg-4 col-md-6 col-sm-8 col-12">
          <p class="fs-2 text-center my-5">We've sent a Password Reset Link.</p>
          <p class="fs-6 mt-3">
              We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
          </p>
          <hr/>
          <p class="fs-6">
              If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
          </p>
          </div>
      </div>
  </div>
{% include 'footer.html' %}
{% endblock wrapper %}
