{% extends 'wrapper.html' %} {% load static %} {% block wrapper %} {% load widget_tweaks %} {% include 'nav.html' %}

<div class="container" style="min-height:80vh;">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 col-12 d-flex justify-content-center">
          <div class="row my-5">
            <span class="fs-1 fw-bold text-center my-5">Change Password</span>

            <form method="post">
                {% csrf_token %}
                <p class="py-3">{% render_field form.new_password1 placeholder="Password" class="form-control d-inline-block" %}</p>
                <p class="py-3">{% render_field form.new_password2 placeholder="Confirm Password" class="form-control d-inline-block" %}</p>
                <div class="d-flex justify-content-center">
                <input type="submit" value="Change Password" class="btn btn-warning px-5 rounded-0 my-5">
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock wrapper %}
