{% extends 'wrapper.html' %} {% load static %} {% block wrapper %} {% include 'nav.html' %}

<div class="container-fluid px-0">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-pause="false">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000" style="background-image: url({% static 'images/banner-05-07-1.jpg' %});background-position:right center;">
        <!-- <img src="" class="d-block w-100" alt="..."> -->
        <div class="container">
          <div class="carousel-caption text-start">
            <p class="main-heading weight-900 p-0 m-0" style="color:rgb(237,2,140);">EMPLOYABLITY</p>
            <p class="main-heading p-0 m-0" style="color:rgb(253,97,2);">SKILL MISSION</p>

            <!-- <p class="main-heading p-0 m-0"></p> -->
            <!-- <p class="white-text">MISSION</p> -->
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="3000" style="background-image: url({% static 'images/software.png' %})">
        <!-- <img src="{% static 'images/carousel-3.png' %}" class="d-block w-100" alt="..."> -->
        <div class="container">
          <div class="carousel-caption text-start">
            <p class="main-heading weight-900 p-0 m-0">PSC/GOVT.</p>
            <p class="main-heading p-0 m-0">APPROVED COURSES</p>
            <!-- <p class="white-text">Build Your Career with IT Kerala</p> -->
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="3000" style="background-image: url({% static 'images/multimedia.png' %})">
        <!-- <img src="{% static 'images/carousel-2.png' %}" class="d-block w-100" alt="..."> -->
        <div class="container">
          <div class="carousel-caption text-start">
            <p class="main-heading weight-900 p-0 m-0">GOVT. APPROVED</p>
            <p class="main-heading p-0 m-0">MULTIMEDIA COURSES</p>
            <!-- <a href="{% url 'courses:courses' %}" class="btn btn-primary button border-3 px-4 py-2 border-light rounded-0">View Courses</a> -->
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="3000" style="background-image: url({% static 'images/hardware.png' %});background-position:center center;">
        <!-- <img src="" class="d-block w-100" alt="..."> -->
        <div class="container">
          <div class="carousel-caption text-start">
            <p class="main-heading weight-900 p-0 m-0">GOVT. APROVED</p>
            <p class="main-heading p-0 m-0">HARDWARE COURSES</p>
            <!-- <p class="white-text">Build Your Career with IT Kerala</p> -->
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
  </div>
</div>
<!-- END OF CAROUSEL -->
<!-- GRID START -->
<div class="container-fluid container-lg">
  <div class="row align-items-stretch"><!-- FULL ROW -->
    <div class="col-lg-4 col-12 grid-container-topped"><!-- Column 1 -->
      <div class="card bg-card-1 text-white mt-2 rounded-0 border-0" style="height: 100%;">
        <div class="card-body">
          <h2 class="card-title pt-4">MICROSOFT</h2>
          <h6 class="sub-title pt-0">OFFICE RELEASE 2019</h6>
          <p>Microsoft Office Release 2019 (More 2019) training is an Self-paced E-learning (SPeL) program, help you learn the ins and outs of office suite for anyone who wants to improve their skills and master Microsoft Office.</p>
          <ul class="list-unstyled mb-4 mt-2">
            <li class="my-3"><i class="bi bi-check2-circle weight-700"></i> <span class="ms-md-1 fw-bold">Self-paced eLearning Course (SPeL)</span></li>
            <li class="my-3"><i class="bi bi-check2-circle weight-700"></i> <span class="ms-md-1 fw-bold">Learn at your own pace</span></li>
            <li class="my-3"><i class="bi bi-check2-circle weight-700"></i> <span class="ms-md-1 fw-bold">Microsoft Word </span></li>
            <li class="my-3"><i class="bi bi-check2-circle weight-700"></i> <span class="ms-md-1 fw-bold">Microsoft Excel </span></li>
            <li class="my-3"><i class="bi bi-check2-circle weight-700"></i> <span class="ms-md-1 fw-bold">Microsoft PowerPoint </span></li>
            <li class="my-3"><i class="bi bi-check2-circle weight-700"></i> <span class="ms-md-1 fw-bold">Microsoft Access </span></li>
            <li class="my-3"><i class="bi bi-check2-circle weight-700"></i> <span class="ms-md-1 fw-bold">Microsoft Outlook</span></li>
            <li class="my-3"><i class="bi bi-check2-circle weight-700"></i> <span class="ms-md-1 fw-bold">Get certified</span></li>
            <li class="my-3"><i class="bi bi-check2-circle weight-700"></i> <span class="ms-md-1 fw-bold">Register Now</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-12 grid-container-topped" >
      <div class="row">
        <div class="card-group white-text px-0">
         <div class="card bg-card-2 align-items-center m-2 rounded-0 border-0">
          <div class="card-body">
            <h2 class="weight-900 pt-4 pb-0 ">SOFTWARE</h2>
            <h6 class="sub-title pt-0 pb-lg-4">PROJECT</h6>
            <div class="row align-items-center">
              <div class="col-8">
                <p class=" fs-6">IT Kerala Software Courses are government approved courses and eligible for PSC placements.</p>
            </div>
            <div class="col-4 ps-3 mt-4">
              <p class="weight-900 text-48 pb-0 mb-0">{{sw_course_count}}</p>
              <h6 class="sub-title pt-0 pb-3">Courses</h6>
            </div>
            </div>
          </div>
          </div>

         <div class="card bg-card-4 align-items-center m-2 rounded-0 border-0">
          <div class="card-body">
            <h2 class="weight-900 pt-4 pb-0">HARDWARE</h2>
            <h6 class="sub-title pt-0 pb-lg-4">PROJECT</h6>
            <div class="row align-items-center">
            <div class="col-8">
            <p class=" fs-6">Hardware courses (AIMS Project) provide training in maintenance and up-gradation of IT based infrastructure environment.</p>
          </div>
          <div class="col-4 ps-3">
            <p class="weight-900 text-48 pb-0 mb-0">{{hw_course_count}}</p>
            <h6 class="sub-title pt-0 pb-3">Courses</h6>
          </div>
            </div>
          </div>
          </div>
      </div>

    </div>
          <div class="row">

        <div class="card-group white-text px-0">
         <div class="card bg-card-3 align-items-center m-2 rounded-0 border-0" style="height: 100%;">
          <div class="card-body">
            <h2 class="weight-900 pb-0 pt-2">MULTIMEDIA</h2>
            <h6 class="sub-title pt-0">PROJECT</h6>
            <div class="row align-items-center">
            <div class="col-8 ">
              <p class=" fs-6">Multimedia Project (KALA) bridging up the gap between supply & demand of skilled professionals in Multimedia.</p>
            </div>
            <div class="col-4 ps-3 mt-4 align-content-center">
              <p class="weight-900 text-48 pb-0 mb-0">{{mm_course_count}}</p>
              <h6 class="sub-title pt-0 pb-3">Courses</h6>
            </div>
            </div>
          </div>
          </div>

         <div class="card bg-card-1 align-items-center m-2 rounded-0 border-0" style="height: 100%;">
          <div class="card-body">
            <h2 class="weight-900 pb-0">E-SKILL</h2>
            <h6 class="sub-title pt-0 ">PROGRAM</h6>
            <div class="row align-items-center">
              <div class="col-8 mt-2">
              <p class=" fs-6 mb-4">Employability Skills program are designed to support an individual successfully gaining a job, progressing in a chosen field.</p>
          </div>
          <div class="col-4">
              <img src="{% static 'images/trial.png' %}" alt="" class="img-fluid">
          </div>
            </div>
          </div>
          </div>
      </div>

    </div>
      </div>
  </div>
</div>
<!-- END GRID -->
<!-- WELCOME SECTION -->
<div class="container welcome-section">
  <div class="row">
    <div class="col-lg-6 col-12">
      <div class="row">
        <h2>Welcome To IT Kerala | Rutronix</h2>
        <p class="text-16">Get to know more about IT-KERALA services</p>
      </div>
      <div class="row my-2">
        <div class="col-sm-6 col-12 d-flex align-content-stretch">
          <div class="card border-0">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-top">
                    <button class="btn py-2 rounded-circle blue-grey-darken-4 me-3">
                      <i class="bi bi-trophy fs-4 "></i>
                    </button>
                  </div>
                  <div class="media-body text-right">
                    <p class="fs-5 fw-bold">Skilled Instructors</p>
                    <span>We have collaborated with top experts who provides substantial training methodologies to contribute high quality education to the students who sign up for the courses.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-12 d-flex align-content-stretch">
          <div class="card border-0">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-top">
                    <button class="btn py-2 rounded-circle blue-grey-darken-4 me-3">
                      <i class="bi bi-graph-up fs-4"></i>
                    </button>
                  </div>
                  <div class="media-body text-right">
                    <p class="fs-5 fw-bold">Modern Courses</p>
                    <span>We provides an array of modern courses in consonance with the level of knowledge and experience of the students which equips them with theoretical and practical knowledge to be successful in an entry-level job.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-sm-6 col-12 d-flex align-content-stretch">
          <div class="card border-0">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-top">
                    <button class="btn py-2 rounded-circle blue-grey-darken-4 me-3">
                      <i class="bi bi-cash-coin fs-4"></i>
                    </button>
                  </div>
                  <div class="media-body text-right">
                    <p class="fs-5 fw-bold">Affordable Cost</p>
                    <span>Kerala state Rutronix is committed to making exceptional education affordable for the admitted students, so this program provides installment wise fee structure aiming financial aid to the eligible candidates.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-12 d-flex align-content-stretch">
          <div class="card border-0">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-top">
                    <button class="btn py-2 rounded-circle blue-grey-darken-4 me-3">
                      <i class="bi bi-briefcase fs-4"></i>
                    </button>
                  </div>
                  <div class="media-body text-right">
                    <p class="fs-5 fw-bold">Garunteed Career</p>
                    <span>IT Kerala offers Innovative career options for the students to earn a wide vision about structure and perspective of the outside world and guarantees excellent job opportunities by the end of course completion.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-11 d-flex align-items-end">

                <div class="row video-container" style="background-image: url({% static 'images/class-2.jpg' %})" data-bs-toggle="modal" data-bs-target="#InsModalToggle">
                  <div class="d-flex justify-content-center align-items-center">
                    <i class="bi bi-play-circle pointer" data-bs-toggle="modal" data-bs-target="#InsModalToggle"></i>
                  </div>
              </div>

              <div class="modal fade" id="InsModalToggle" aria-hidden="true" aria-labelledby="InsModalToggleLabel" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-white" id="InsModalToggleLabel">Instructional Video Language</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex justify-content-center">
                      <button class="btn btn-success mx-2" data-bs-target="#InsModalToggle3" data-bs-toggle="modal" data-bs-dismiss="modal">Malayalam</button>
                      <button class="btn btn-success mx-2" data-bs-target="#InsModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">English</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="InsModalToggle2" aria-hidden="true" aria-labelledby="InsModalToggleLabel2" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                  <div class="modal-content">
                    <div class="modal-header">

                      <button type="button" style="background-color:white;" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <iframe src="https://growareglobal-ms-office-course.s3.ap-south-1.amazonaws.com/More2019-tutorial-videos/it+kerala/itkeralaenglish.mp4" allowfullscreen class="border-0"></iframe>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="InsModalToggle3" aria-hidden="true" aria-labelledby="InsModalToggleLabel3" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-xl bg-light">
                  <div class="modal-content">
                    <div class="modal-header">

                      <button type="button" style="background-color:white;" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <iframe src="https://growareglobal-ms-office-course.s3.ap-south-1.amazonaws.com/More2019-tutorial-videos/it+kerala/itkeralamalayalam.mp4" allowfullscreen class="border-0"></iframe>
                    </div>
                  </div>
                </div>
              </div>

              {% comment %}
      <!-- <div class="row video-container" style="background-image: url({% static 'images/class-2.jpg' %})">
        <div class="d-flex justify-content-center align-items-center">
          <i class="bi bi-play-circle pointer" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>

          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-fullscreen-md-down">
              <div class="modal-content border-0">
                <div class="modal-header border-0">

                  <button type="button" class="btn-close white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY" allowfullscreen class="border-0"></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->{% endcomment %}
    </div>























  </div>
</div>
<!-- END OF WELCOME SECTION -->
<!-- POPULAR COURSES SECTION -->
<!-- <div class="container py-144">
  <div class="row">
    <h2 class="text-center">
      COURSES(Not added yet)
    </h2>
  </div>
  <div class="row">
    <div class="col-sm-10">



      <ul class="nav nav-tabs nav-pills border-0" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Hardware</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Software</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Multimedia</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">


        <div class="tab-pane fade show active p-3" id="home" role="tabpanel" aria-labelledby="home-tab">
          Hardware Courses Tab
        </div>
        <div class="tab-pane fade p-3" id="profile" role="tabpanel" aria-labelledby="profile-tab">Software Courses Tab</div>
        <div class="tab-pane fade p-3" id="contact" role="tabpanel" aria-labelledby="contact-tab">Multimedia Courses Tab</div>
      </div>

    </div>
    <div class="col-sm-2">

    </div>
  </div>
</div> -->
<!-- END OF POPULAR COURSES SECTION -->
<!-- SIMPLE SIGNUP FORM START -->
<div class="container-fluid mx-0 " style="background:url({% static 'images/parallax-1.jpg' %})">
  <div class="container p-5">
    <div class="row p-5">
      <div class="col-sm-6">
        <h3 class="weight-900 white-text">GET FREE TRAINING AND RESOURCES</h3>
        <p>Limited Seating. Hurry Up! </p>
      </div>
    </div>
  </div>
</div>
<!-- SIMPLE SIGNUP FORM END -->
<!-- COURSEWARE START -->
<!-- <div class="container py-144">
  <div class="row">
    <h3 class="text-center fs-2">
      COURSEWARE(Not added yet)
    </h3>
  </div>
</div> -->
<!-- COURSEWARE END -->
<!-- GUIDES START -->
<div class="container-fluid py-5" style="background-color:rgb(237,240,243)">
  <div class="container py-5">
    <div class="row">
      <div class="col-sm-8 px-0">
        <div class="row">
          <div class="col-12 col-md-10 py-4">
            <h3 class="weight-700 me-5 light-blue-darken-4-text text-center">download free guides</h3>
          </div>
          <div class="col-6 col-md-5">
            <p>- work fewer hours and make money.</p>
          </div>
          <div class="col-6 col-md-5">
            <p>- attract and retain quality.</p>
          </div>
          <div class="col-6 col-md-5">
            <p>- manage your time so you'll get more.</p>
          </div>
          <div class="col-6 col-md-5">
            <p>- sharp leadership skills to manage.</p>
          </div>
          <div class="col-6 col-md-5">
            <p>- cut expenses. no sacrificing quality.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <img src="{% static 'images/img-3.png' %}" alt="download">
      </div>
      <div class="container-fluid">
          <form action="">
            <div class="row">
              <div class="col-md-5 col-12 my-2">
                <input type="text" name="name" id="name" class="form-control rounded-0 border-0 py-2" placeholder="Name">
              </div>
              <div class="col-md-5 col-12 my-2">
                <input type="email" name="email" id="email" class="form-control rounded-0 border-0 py-2" placeholder="Email">
              </div>
              <div class="col-md-2 col-12 my-2">
                <input type="submit" value="download" class="btn btn-warning py-2 mt-0 rounded-0">
              </div>
          </div>
          </form>
        </div>
    </div>

  </div>
</div>
<!-- GUIDES END -->
{% include 'footer.html' %}
{% endblock wrapper %}
