{% extends 'wrapper.html' %} {% load static %} {% block wrapper %} {% include 'nav.html' %}

<div class="container">
<ol class="list-group list-group-flush">
  <li class="list-group-item"> Login using the registered email id and password</li>
  <li class="list-group-item">You will be re-directed to your profile where you have to update your details.</li>
  <li class="list-group-item">Update your current password to a unique one.</li>
  <li class="list-group-item">You can see the MORE 2019 course on your 'Courses Page'.</li>
  <li class="list-group-item">Click on 'Enrol now' to access the course.</li>
  <li class="list-group-item">Click on Day 1 to access the sessions of that day.</li>
  <li class="list-group-item">Click on the session name to open it and watch the video class provided.</li>
  <li class="list-group-item">On the right side of the video you can see the assignments that you have to do after watching the respective session and upload it.</li>
  <li class="list-group-item">The assignments will be evaluated by the expert and will be scored out of 4 for each day.</li>
  <li class="list-group-item">After attending both the sessions for the day then you can Click on the Take test button to attend the MCQ quiz. </li>
  <li class="list-group-item">The quiz will have 4 questions carrying 1 mark each.</li>
  <li class="list-group-item">You should get 2 out of 4 to pass each test. You can try again any time if you didn't pass.</li>
  <li class="list-group-item">If you have passed and want to improve your scores then you will get one more chance to attend the test till the end of the day.</li>
  <li class="list-group-item">If you have attended the test twice, then the best of two marks will be taken.</li>
  <li class="list-group-item">If you have passed the day's test the next day sessions will get open at 12.00 AM.</li>
  <li class="list-group-item">If you have any doubts regarding the course, then you can click on Ask an Expert button , click on Ask Question and type your question in the space provided. Your question will be displayed on the Ask an Expert page. Click on the Question to see if your doubt is answered. </li>
  <li class="list-group-item">50% marks of the total is required to pass MORE 2019.</li>
</ol>
</div>

{% endblock wrapper %}
